body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 54, 54);
}
.container {
    margin-top: 200px;
    padding: 50px;
    display: flex;
    gap: 20px;
    background-color: rgb(228, 238, 238);
    border-radius: 50px;
    box-shadow: 0 0 10px rgb(118, 179, 179);
}

.container .color {
    padding: 30px;
    background-color: #333;
    width: 150px;
    text-align: center;
    border-radius: 20px;
    font-size: larger;
    color: white;
}